html {
  background-color: #edf7fa;
}

body {
  display: box;
  }
  
  .mainTitle {
    font-family: 'great vibes';
    font-size: 5rem;
    color: #3b3600;
    text-align: center;
    margin-bottom: 10px;
    
  }

  h3, .footer{
    font-family: 'great vibes';
    font-size: 2rem;
    text-align: center;
    color:rgb(0, 78, 16);
    border-bottom: solid black;
    padding-bottom: 50px;
      }

.footer {
  border-bottom: none;
border-top: solid black;
padding:50px;
}
/* navBar */

#filter {
  display: flex; /* Use flexbox to align buttons in a row */
  justify-content: center; /* Horizontally center the buttons */
  margin-top: 20px;
    }

.btn {
    width: 90px;
  height: 60px;
   border-radius: 10px;
    cursor: pointer;
  color: white;
  font-size: 1rem;
  text-align: center;
  margin: 0 5px;
}


#virtue {
  float: left;
}

#vice {
  float: right;
}
.showAll {
  color: black;
  font-weight: 700;
  transition: all 0.3s ease-in;
}

.showAll:hover {
  background-color: #aeaeae;
}

.birds {
  background-color: rgb(235, 255, 17);
  color: rgb(82, 101, 21);
  font-weight: 700;
  transition: all 0.3s ease-in;
}

.birds:hover {
  background-color: #bec100;
}

.mammals {
  background-color: rgb(1, 235, 28);
  color: rgb(0, 90, 0);
  font-weight: 700;
  transition: all 0.3s ease-in;
}
.mammals:hover {
  background-color: rgb(0, 210, 0);
}

#filter .virtues {
background-color: aqua;
color: #02008c;
font-weight: 700;
}

#filter .vices {
background-color: 
#fd4545;
color: #fed0d0;
font-weight: 700;
}



#virtue:hover {
  background-color: #3ac3e9;
  transition: all 0.3s ease-in;
}

#vice:hover {
  background-color: rgb(193, 54, 54);
  transition: all 0.3s ease-in;
}

#virtue.pressed {
  color:white;
  background-color: #3ac3e9;
  text-decoration: underline;
}

#vice.pressed {
  color:white;
  background-color: rgb(193, 54, 54);
  text-decoration: underline;
}
#birdsBirds.pressed {
  color:white;
  background-color: #bec100;
  text-decoration: underline;
}


#mammalsMammals.pressed {
  color:white;
  background-color: rgb(0, 210, 0);
  text-decoration: underline;
}

#allShow.pressed {
    color:white;
  background-color: #aeaeae;
  
}

.pressed {
  border-bottom: 2px solid black;
}


/* container and grid */
  
  .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 30px;
      justify-items: center;
      margin-top: 100px;
      z-index: 1;
  }

  .grid-container {
    background-color: aqua;
    width: 360px;
height: 510px;


}
  
/* card container */
  img {
  height: 450px;
  width: 360px;
  object-fit: cover;
  }
  
  .label p {
  font-family: 'great vibes';
  font-size: 2.7rem;
  text-align: center;
  margin: 0;
  color: #02008c;
  }
  
  .grid-container {
      position: relative;
    }
    
    .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .hover-img p {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .grid-container:hover .hover-img p {
    opacity: 1;
  }
  
  .hover-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(16, 0, 108, 0.7);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .grid-container:hover .hover-img::before {
    opacity: 1;
  }
  
  .hover-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
  }

  /* This is the vice styling */


  .grid-container-vice {
    background-color: rgb(233, 95, 95);
    width: 360px;
    height: 510px;
    position: relative;
  }
  
  .label-vice p {
    font-family: 'great vibes';
    font-size: 2.7rem;
    text-align: center;
    margin: 0;
    color: #3f0000;
  }
  
  .grid-container-vice .hover-img-vice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .grid-container-vice:hover .hover-img-vice p {
    opacity: 1;
  }
  
  .grid-container-vice .hover-img-vice p {
    font-family: 'great vibes';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(253, 171, 77);
    font-size: 3rem;
    text-align: center;
    opacity: 0;
    
  }
  
  .hover-img-vice::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(122, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
          }

          .grid-container-vice .hover-p-vice {
    
            transition: opacity 0.5s ease-in-out;
          }
          .grid-container-vice:hover .hover-img-vice::before {
            opacity: 1;
          }
          
          .grid-container-vice .hover-img-vice img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;
          }

/* sloth transition */

  .grid-container-vice .sloth::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(122, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 7s ease-in-out;
  }
  .grid-container-vice .lazy {
    
    transition: opacity 10s ease-in-out;
  }

  footer {
    width: auto;
    height: 150px;
  }
  



 